*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(34, 250, 250);
}

.navbar-personal{
    background-color: white;
    width: 80%;
    margin: auto;
    padding: 2%;
    display: flex;
flex-flow: column wrap;
}